name: Python CI

# Python versioning is a little weird here:
# lsst-rsp has to be usable from inside the DM stack.  That's Python
# 3.12.  However, the init container can be, and is, Python 3.13 or 3.14.
#
# So: test against all.  Build the container with 3.14.  Build and
# upload the library with 3.12.

"on":
  merge_group: {}
  pull_request: {}
  push:
    branches-ignore:
      # These should always correspond to pull requests, so ignore them for
      # the push trigger and let them be triggered by the pull_request
      # trigger, avoiding running the workflow twice.  This is a minor
      # optimization so there's no need to ensure this is comprehensive.
      - "dependabot/**"
      - "gh-readonly-queue/**"
      - "renovate/**"
      - "tickets/**"
      - "t/**"
      - "u/**"
  release:
    types: [published]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        python:
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Run tox
        run: uv run --only-group=tox tox run -e lint,typing,py,coverage-report

  test-packaging:
    name: Test packaging
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # full history for setuptools_scm

      - name: Build and publish
        uses: lsst-sqre/build-and-publish-to-pypi@v3
        with:
          upload: false

  build-setup:
    name: Set up multiplatform build
    runs-on: ubuntu-latest
    needs: [test]
    outputs:
      images: ${{ steps.image_names.outputs.images }}

    steps:
      - id: image_names
        env:
          repo: ${{ github.repository }}
        run: |
          reponame=$(echo ${repo} | cut -d '/' -f 2)
          images=""
          gar_pref="us-central1.docker.pkg.dev/rubin-shared-services-71ec/sciplat/"
          # Push under both names to both destinations.
          for cname in "landing-page-provisioner" "init-container" ; do
              gar_repo="${gar_pref}${reponame}-${cname}"
              ghcr_repo="ghcr.io/${repo}-${cname}"
              both_repos="${gar_repo},${ghcr_repo}"
              if [ -n "${images}" ] ; then
                  images="${images},"
              fi
              images="${images}${both_repos}"
          done
          echo "images=${images} >> ${GITHUB_OUTPUT}"

  multibuild:
    needs: [build-setup]
    uses: lsst-sqre/multiplatform-build-and-push/.github/workflows/build.yaml@v3
    # Only do Docker builds of tagged releases and pull requests from
    # ticket or user branches. This will still trigger on pull requests
    # from untrusted repositories whose branch names match our tickets/*
    # branch convention, but in this case the build will fail with an
    # error since the secret won't be set.
    if: >
      startsWith(github.head_ref, 'refs/tags/')
      || startsWith(github.head_ref, 'tickets/')
      || startsWith(github.head_ref, 't/')
      || startsWith(github.head_ref, 'u/')
    with:
      images: ${{ needs.build-setup.outputs.images }}

  pypi:
    # This job requires set up:
    # 1. Set up a trusted publisher for PyPI
    # 2. Set up a "pypi" environment in the repository
    # See https://github.com/lsst-sqre/build-and-publish-to-pypi
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs: [test, test-packaging]
    environment:
      name: pypi
      url: https://pypi.org/p/lsst-rsp
    permissions:
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # full history for setuptools_scm

      - name: Build and publish
        uses: lsst-sqre/build-and-publish-to-pypi@v3
