name: CI

env:
  # Current supported uv version. The uv documentation recommends pinning
  # this. The version should match the version used in .pre-commit-config.yaml
  # and frozen in uv.lock. It is updated by make update-deps.
  UV_VERSION: "0.9.24"

"on":
  merge_group: {}
  pull_request: {}
  push:
    branches-ignore:
      # These should always correspond to pull requests, so ignore them for
      # the push trigger and let them be triggered by the pull_request
      # trigger, avoiding running the workflow twice.  This is a minor
      # optimization so there's no need to ensure this is comprehensive.
      - "dependabot/**"
      - "gh-readonly-queue/**"
      - "renovate/**"
      - "t/**"
      - "tickets/**"
      - "u/**"
  release:
    types: [published]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    # The test version matrix must go back at least as far as the oldest
    # Python version still supported by a Science Pipelines or Telescope and
    # Site container.
    strategy:
      matrix:
        python:
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}

      - name: Run tox
        run: uv run --only-group=tox tox run -e lint,typing,py,coverage-report

  test-packaging:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: [test]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # full history for setuptools_scm

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}

      - name: Build the package
        run: uv build --no-sources

  pypi:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [test, test-packaging]
    environment:
      name: pypi
      url: https://pypi.org/p/lsst-rsp
    permissions:
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # full history for setuptools_scm

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}

      - name: Build the package
        run: uv build --no-sources

      - name: Publish the package
        run: uv publish
